/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./section/header.css');
@import url('./section/hero.css');
@import url('./section/aboutme.css');
@import url('./section/techskills.css');
@import url('./section/myprojects.css');
@import url('./section/benefits.css');
@import url('./section/faq.css');
@import url('./section/reviews.css');
@import url('./section/worktog.css');
@import url('./section/footer.css');

:root {
  --var-text: #292929;
  --var-text-green: #00b068;
  --var-bg: #f0f0f0;
  --var-bg-gray: #e4e5e6;
  --var-accent: #bcdfd1;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #292929;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

[dark] {
  --var-text: #f0f0f0;
  --var-text-green: #14c57c;
  --var-bg: #1e2023;
  --var-bg-gray: #2a2d32;
  --var-accent-light: #204136;
}

[light] {
  --var-text: #292929;
  --var-text-green: #00b068;
  --var-bg: #f0f0f0;
  --var-bg-gray: #e4e5e6;
  --var-accent: #bcdfd1;
}

body {
  font-family: 'Poppins', sans-serif;
}

@font-face {
  font-family: 'Impact';
  src: url(../fonts/impact.ttf) format('ttf'),
    url(../fonts/impact.woff2) format('woff2');
}

.logo-text {
  font-family: 'Impact', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1.5px;
  color: var(--var-text);
  text-transform: uppercase;
}

.logo-text span {
  color: var(--var-text-green);
}

.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    margin: 0 auto;
  }
}
