.benefits {
  padding: 80px 20px 0 20px;
  background-color: rgb(var(--var-bg));
}

.benefits-container {
  max-width: 360px;
  margin: 0 auto;
}

.benefits-title {
  color: rgb(var(--var-text));
  /* Mobile/h2-360 */
  font-family: 'Impact', sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.benefits-title-additional {
  color: rgb(var(--var-text-green));
  /* Mobile/h2-360 */
  font-family: 'Impact', sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  /* 123.077% */
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.benefits-subtitle {
  color: rgb(var(--var-text));
  /* Mobile/caption-360 */
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.benefits-text {
  color: rgb(var(--var-text));
  /* Desktop-Tablet/body 1 */
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.5px;
}

.benefits-icon {
  margin-bottom: 16px;
  display: flex;
  width: 48px;
  height: 48px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(var(--var-text-green), 0.1);
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.benefits-icon svg {
  fill: transparent;
  stroke: rgb(var(--var-text-green));
}

/** Tablet styles **/

@media screen and (min-width: 768px) {
  .benefits-container {
    max-width: 768px;
  }

  .benefits {
    padding: 124px 32px 0 32px;
  }

  .benefits-img {
    display: none;
  }

  .benefits-title-additional {
    color: rgb(var(--var-text-green));
    /* Desktop-Tablet/H2 */
    font-family: 'Impact', sans-serif;
    font-size: 108px;
    font-style: normal;
    font-weight: 400;
    line-height: 124px;
    /* 114.815% */
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }

  .benefits-title {
    color: rgb(var(--var-text));
    /* Desktop-Tablet/H2 */
    font-family: 'Impact', sans-serif;
    font-size: 108px;
    font-style: normal;
    font-weight: 400;
    line-height: 124px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin: 0;
  }

  .benefits-subtitle {
    color: rgb(var(--var-text));
    /* Desktop-Tablet/caption */
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  .benefits-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 664px;
  }

  .benefits-item {
    width: 336px;
    height: 208px;
  }
}

/** Desktop styles **/

@media screen and (min-width: 1280px) {
  .benefits {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 164px;
    background-color: rgb(var(--var-bg));
    /* background-image: url(/img/benefits/decoration.png);
    background-repeat: no-repeat;
    background-size: 526px 408px;
    background-position: top 16px right 32px; */
    background-image: url('/img/benefits/decoration.png');
    background-repeat: no-repeat;
    background-size: 526px 408px;
    background-position: top 16px right 32px;
  }

  .benefits-container {
    max-width: 1280px;
    background-color: transparent;
  }

  .benefits-img {
    display: block;
    position: absolute;
    top: 16px;
    right: 32px;
    width: 526px;
    height: 408px;
    z-index: -1;
  }

  .benefits-list {
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    margin-top: -96px;
  }

  .benefits-title-additional {
    color: rgb(var(--var-text-green));
    /* Desktop-Tablet/H2 */
    font-family: 'Impact', sans-serif;
    font-size: 108px;
    font-style: normal;
    font-weight: 400;
    line-height: 124px;
    /* 114.815% */
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }

  .benefits-title {
    color: rgb(var(--var-text));
    /* Desktop-Tablet/H2 */
    font-family: 'Impact', sans-serif;
    font-size: 108px;
    font-style: normal;
    font-weight: 400;
    line-height: 124px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    width: 700px;
  }

  .benefits-item:nth-child(6) {
    order: -2;
  }

  .benefits-item {
    /* width: 384px; */
    height: 184px;
    border-radius: 16px;
    width: calc((100% - 72px) / 3);
  }
}

@media screen and (min-width: 768px) {
  .benefits {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .benefits {
    max-width: 1280px;
    margin: 0 auto;
  }
}
