.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.techskills-container {
  overflow: hidden;
  background-color: var(--var-bg);
  width: 110%;
  height: 245px;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 125% */
  letter-spacing: 0.01em;
  text-transform: uppercase;
  position: relative;
}

.skills-upper-line,
.skills-lower-line {
  display: flex;
  margin: 0;
  padding: 32px 16px;
  width: 100%;
}

.skills-upper-line {
  display: flex;
  background: var(--var-accent);
  position: absolute;
  top: 0;
  z-index: 2;
}

.skills-lower-line {
  color: var(--var-text-green);
  background-color: var(--var-bg-gray);
  transform: rotate(2deg) translateY(-25px);
  position: absolute;
  top: 130px;
}

.skills-list {
  flex-shrink: 0;
  display: flex;
  white-space: nowrap;
  animation: skillsLine 10s linear infinite;
}

.skills-item-upper,
.skills-item-lower {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 30px;
  padding-right: 22px;
}

.skills-item-upper {
  color: var(--var-text);
}

.skills-item-upper::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 2px;
  left: 0;
  background-color: var(--var-text-green);
  position: absolute;
}

.skills-item-lower::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 2px;
  left: 0;
  background-color: var(--var-text);
  position: absolute;
}

@keyframes skillsLine {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@media screen and (min-width: 768px) {
  .techskills-container {
    height: 282px;
    font-size: 36px;
    line-height: 1.3; /* 133.333% */
    letter-spacing: 0.01em;
  }

  .skills-upper-line,
  .skills-lower-line {
    padding: 40px 16px;
  }

  .skills-lower-line {
    transform: rotate(2deg);
  }
}

@media screen and (min-width: 1280px) {
}
