.worktog {
  background-color: rgb(var(--var-bg));
}
.worktog-wrap {
  min-width: 320px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 50px;
  color: rgb(var(--var-text));
  display: flex;
  flex-direction: column;
}

.worktog-title {
  color: rgb(var(--var-text));
  /* //styleName: Mobile/h2-360; */
  font-family: 'Impact', sans-serif;
  font-size: 52px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 1.8px;
  text-align: left;
  text-transform: uppercase;
}

.worktog-title span {
  color: rgb(var(--var-text-green));
}

.worktog-first {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

.worktog-soc {
  display: flex;
  flex-direction: column;
}
.worktog-soc-subTitle {
  /* styleName: Desktop-Tablet/caption; */
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.5px;
  text-align: left;
  text-transform: uppercase;
}
.worktog-list {
  margin-top: 32px;
}
.worktog-item {
  display: none;
  margin-top: 16px;
  display: flex;
  align-items: center;
}
.worktog-item svg {
  margin-right: 16px;
  fill: transparent;
  stroke: rgb(var(--var-text-green));
}
/* .worktog-link {
} */
.worktog-form {
  margin-top: 40px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-align: left;
}
.worktog-bg {
  display: none;
}
.form-field .form-field {
  margin-top: 32px;
}

.form-input {
  width: 100%;
  padding: 8px 16px;
  border-radius: 8px;
  gap: 10px;
  border: none;
  color: rgba(var(--var-text), 0.4);

  background-color: rgb(var(--var-bg-gray));
  transition: 250ms ease;
}
.form-input:active,
.form-input:focus {
  color: var(--var-text);
  opacity: 1;
}

.form-input:hover {
  box-shadow: -3px -3px 10px rgb(var(--var-bg-gray)),
    3px 3px 10px rgb(var(--var-bg-gray));
}
.form-input:invalid {
  color: #e74a3b;
}
.form-message {
  margin-top: 32px;
  width: 100%;
  height: 128px;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  resize: none;
  background-color: rgb(var(--var-bg-gray));
  color: rgba(var(--var-text), 0.4);
}
.form-message:active,
.form-message:focus {
  color: rgb(var(--var-text));
  opacity: 1;
}
.form-message:hover {
  box-shadow: -3px -3px 10px rgb(var(--var-bg-gray)),
    3px 3px 10px rgb(var(--var-bg-gray));
}
.form-btn {
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  color: rgb(var(--var-bg));
  background-color: rgb(var(--var-accent));
}

.form-btn:hover,
.form-btn:active {
  background-color: rgb(var(--var-text-green));
}
/* @media screen and (min-width: 360px) {
  .container {
    max-width: 360px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    max-width: 0 auto;
  }
} */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    max-width: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .worktog-wrap {
    padding-top: 124px;
  }
  .worktog-wrap {
    background-image: url('./img/worktog/decor-bg-4-1x-tab.png');
    background-repeat: no-repeat;
    background-size: 384px 288px;
    background-position: top 10px right 32px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .aboutme-container {
      background-image: url('./img/worktog/decor-bg-4-2x-tab.png');
    }
  }
  /* .worktog-bg {
    display: block;
  } */
  /* .worktog-bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 336px;
    height: 260px;
  } */
  /* .worktog-bg svg {
    stroke: rgb(var(--var-text-green));
    fill: transparent;
    filter: blur(2.5px);
    z-index: -1;
  } */
}
@media screen and (min-width: 1280px) {
  .worktog-wrap {
    padding-top: 164px;
  }
  .worktog-wrap {
    background-image: url('/img/worktog/decor-bg-4-1x-dec.png');
    background-repeat: no-repeat;
    background-size: 384px 288px;
    background-position: top 692px right 32px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .aboutme-container {
      background-image: url('/img/worktog/decor-bg-4-2x-dec.png');
    }
  }
  .worktog-soc {
    width: 488px;
  }
  .worktog-first {
    flex-direction: row;
  }
  .worktog-form {
    margin-left: 164px;
    width: 592px;
  }
}

.container.worktog {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 375px) {
  .container.worktog {
    max-width: 375px;
    padding-left: 32px;
    padding-right: 32px;
    max-width: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container.worktog {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    max-width: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .container.worktog {
    max-width: 1280px;
    margin: 0 auto;
  }
}
