.worktog {
  background-color: rgb(var(--var-bg));
  color: rgb(var(--var-text));
}
.worktog-wrap {
  min-width: 320px;
  width: 100%;
  max-width: 360px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
}

.worktog-title {
  /* //styleName: Mobile/h2-360; */
  font-family: 'Impact', sans-serif;
  font-size: 52px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
}

.worktog-title span {
  color: rgb(var(--var-text-green));
}

.worktog-first {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.worktog-soc {
  display: flex;
  flex-direction: column;
}
.worktog-soc-subTitle {
  /* styleName: Desktop-Tablet/caption; */
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
}
.worktog-list {
  margin-top: 32px;
}
.worktog-item {
  display: none;
  margin-top: 16px;
  display: flex;
  align-items: center;
}
.worktog-item svg {
  margin-right: 16px;
  fill: transparent;
  stroke: rgb(var(--var-text-green));
}
/* .worktog-link {
} */
.worktog-form {
  width: 100%;
  margin-top: 40px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
/* .worktog-bg {
  display: none;
} */

.form-input {
  width: 100%;
  padding: 8px 16px;
  border-radius: 8px;
  gap: 10px;
  border: none;
  color: rgba(var(--var-text), 0.4);

  background-color: rgb(var(--var-bg-gray));
  transition: 250ms ease;
}
.form-input:active,
.form-input:focus {
  color: var(--var-text);
  opacity: 1;
}

.form-input:hover {
  box-shadow: -3px -3px 10px rgb(var(--var-bg-gray)),
    3px 3px 10px rgb(var(--var-bg-gray));
}
.form-input:invalid {
  color: #e74a3b;
}
.form-message {
  width: 100%;
  height: 128px;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  resize: none;
  background-color: rgb(var(--var-bg-gray));
  color: rgba(var(--var-text), 0.4);
}
.form-message:active,
.form-message:focus {
  color: rgb(var(--var-text));
  opacity: 1;
}
.form-message:hover {
  box-shadow: -3px -3px 10px rgb(var(--var-bg-gray)),
    3px 3px 10px rgb(var(--var-bg-gray));
}
.form-btn {
  width: 100%;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  color: rgba(var(--var-bg));
  background-color: rgba(var(--var-text-green));
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
}

.form-btn:hover,
.form-btn:active {
  background-color: #009156;
}

@media screen and (min-width: 768px) {
  .worktog-wrap {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    max-width: 0 auto;
    background-image: url('./img/worktog/decor-bg-4-des-1x.png');
    background-repeat: no-repeat;
    background-size: 336px 260px;
    background-position: top 10px right 32px;
  }

  /* @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .aboutme-container {
      background-image: url('/img/backgrounds/decor-bg-2-2x.png');
    }
  } */

  .worktog-form {
    width: 100%;
  }
  .form-btn {
    align-self: flex-start;
    width: 173px;
  }
}

@media screen and (min-width: 1280px) {
  .worktog-wrap {
    padding-top: 164px;
    background-image: url('/img/worktog/decor-bg-4-1x-dec.png');
    background-repeat: no-repeat;
    background-size: 526px 408px;
    background-position: top 20px right 32px;
  }
  /* 
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .aboutme-container {
      background-image: url('/img/worktog/decor-bg-4-2x-dec.png');
    }
  } */

  .worktog-soc {
    width: 592px;
  }
  .worktog-form {
    width: 592px;
  }
  .form-btn {
    align-self: flex-start;
    width: 173px;
  }
  .worktog-first {
    flex-direction: row;
  }
  .worktog-form {
    margin-left: 164px;
    width: 592px;
  }
}
